<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hoon.gloriousfamily" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:screenOrientation="portrait"
        android:largeHeap="true">
        <activity
            android:name=".SignupActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity_" android:label="ProfileActivity" />
        <activity android:name=".CharacterSelectActivity_" android:label="CharacterSelectActivity" />
        <activity android:name=".HomeActivity_" android:label="HomeActivity" />
        <activity android:name=".MateSelectActivity_" android:label="MateSelectActivity" />
        <activity android:name=".FamilyTreeActivity_" android:label="FamilyTreeActivity" />
        <activity android:name=".BirthActivity_" android:label="BirthActivity" />
        <activity android:name=".DeathActivity_" android:label="DeathActivity" />
        <activity android:name=".DatingActivity_" android:label="DatingActivity" />
    </application>

</manifest>
